.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainbutton{
  border-radius: 15px;
  padding: 15px 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none; 
  user-select: none;
  background: gray;
}

.clicked {
  background: red;
}

.notclicked {
  background: green;
}
